@import "tailwindcss";

@layer base {
  * {
    border-color: var(--color-slate-200);
  }
}

@media print {
  body {
    background: #ffffff !important;
    color: #000000 !important;
  }
  header, aside, button, .print\:hidden {
    display: none !important;
  }
  #printable-receipt-area, #diagnostic-report-paper {
    display: block !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border: none !important;
  }
}
